*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}



.nav {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 4px;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: #181818;
}

.nav img{
    grid-column: 2/4;
    width: 90px;
}

.nav__menu{
    grid-column: 5/12;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__menu li{
    flex-grow: 1;
    text-align: center;
}

.nav__menu  a{
    line-height: 1.4;
    text-decoration: none;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #dedede;
    transition: background-color 0.2s;
}

.nav__menu  a:hover{
    background-color: #EA9C1B;
    color:#181818
}

.nav__bar{
    grid-column: 12/13;    
    display: none;
    font-size: 2rem;
    color: #dedede;
}

@media screen and (max-width: 600px){
    .nav{
        position: relative;
    }
    
    .nav__bar{
        position: relative;
        display: block;
        grid-column: 11/13;
    }
    
    .nav__menu{
        position: absolute;
        width: 70vw;
        height: 70vh;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        align-items: center;
        margin-top: 30rem;
        background-color: #181818;

        transition: transform 0.3s;
        transform: translateX(100%);
    }

    .menu__toggle{
        transform: translateX(0%)
    }
    
    .hero{
    height:50vh
    }
}


/*     ------HERO------ */

.hero{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    align-content: start;
}


.hero__textos{
    grid-column: 2/5;
    grid-row: 2/3;
    font-family: Anton;

    animation: aparecer 2s 1s forwards;
    animation-fill-mode: backwards;
}

@keyframes aparecer {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.hero h2{
    font-size:5vw;
}

.hero p{
    font-size: 2vw;
    padding-top: 10px;
}

.hero__img{
    grid-column: 6/13;
    grid-row: 1/-1;
    justify-self: end;
    
   }

.hero__img > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    animation: movimiento-fondo 2s forwards;
}

@keyframes movimiento-fondo {
    0% {
        transform: translate(100%);
        opacity: 0;
    }    

    100%{
        translate: (0%);
        opacity: 1;
    }
}
